@{
    ViewData["Title"] = "Landing Page";
}

<div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
    <a href="@Url.Action("Calendar", "Home")" class="btn btn-primary">Book Calibration</a>
</div>
